*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 70%;
}


:root{
    --fondoRosa: rgb(255, 0, 96);
    --cabeceraFooterAzul:rgb(0, 121, 255);
    --verde:  rgb(0, 223, 162);
    --amarillo:rgb(255, 237, 0);
}


header{
    background-color: var(--cabeceraFooterAzul);
   
}
main{
    width: 100%;
    height: min(100vh);
    margin: 0;
    color:var(--verde);
    background-color: var(--fondoRosa);
    background-image: url("../img/spiderman-gd3c7c6227_640.png");
}
article{
   
    color:var(--verde);
    border-radius: 20%;
    backdrop-filter: blur(10px);
}
#container-cards > div > article > div.card-body > ul> li
{
    color:var(--verde);
    background-color: var(--amarillo);
   
}
#container-cards > article:hover{
  border: thin solid var(--amarillo);
}
article:hover{
    animation-duration: 2s;
    animation-name: bordes-animados;
}
@keyframes bordes-animados{
    0%{
        box-shadow:-2px 0 3px var(--amarillo);
    }
    25%{
        box-shadow:-0px -2px 3px var(--amarillo);
    }
    50%{
        box-shadow:2px 0 3px var(--amarillo);
    }
    75%{
        box-shadow:-0px 2px 3px var(--amarillo);
    }
    100%{
        box-shadow:-2px -2px 3px var(--amarillo);
        
        box-shadow:2px 2px 3px var(--amarillo);
    }
}
form{
    display:flex;
    flex-direction: column;
  padding: 5px;
    backdrop-filter: blur(10px);
    color:var(--verde);
    border-radius: 5px;
    box-shadow: 1px 2px 0 var(--amarillo);
    margin:2rem;
}
form input {
    margin: 5px;
}
  
  footer{
    background-color: var(--cabeceraFooterAzul);
    color: var(--verde);
  }




/* mas ancho q celular */
@media screen and (width>700px) {
    html{
    font-size: 100%;
    
}
}
